{% extends 'indexadmin.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <!--<table width="268" class="dbresult"  height="168" border="1">-->
    <!--<tr>-->
      <!--<td width="228"><div align="center"><a href="adddoc">Add and manage Doctor</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="addnurse">Add and manage Nurse</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="addpharm">Add and manage Pharmasist</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="addreceptionist">Add and manage Receptionist</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="viewallpat">View list of Patients</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/">logout</a></div></td>-->
    <!--</tr>-->
  <!--</table>-->
</form>
</body>
{% endblock %}
