<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title><style>
  .dbresult,.dbresult td,.dbresult th{
    border:1px solid black;
    border-collapse: collapse;
    padding: 8px;
    font-family: sans-serif;
  }
  .dbresult{
    margin:auto;
  }
  .dbresult tr:nth-child(odd){
    background-color:#b2d0d6;
  }
  .dbresult tr:nth-child(even){
    background-color:  lightcyan;
  }
  .dbresult input{
    padding: 10px 20px;
    font-weight: bold;
  }
</style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="dbresult" width="282" border="1">
    <tr>
      <td width="147">Department Name </td>
      <td> </td>
    </tr>
    {% for i in val %}
    <tr>
      <td>&nbsp;<label>
       {{i.deptName_id}}
      </label></td>
      <td><a href="docname">click</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
