{% extends 'indexnurse.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
  <!--<table class="dbresult" width="200" border="1">-->
    <!--&lt;!&ndash;tr>-->
      <!--<td><div align="center"><a href="reg form nurse.html">Registration</a></div></td>-->
    <!--</tr&ndash;&gt;-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="nurseTodayWork">Today work</a></div></td>-->
    <!--</tr>-->
<!--<tr>-->
      <!--<td><div align="center"><a href="availableTest">Available Tests</a></div></td>-->
    <!--</tr>-->
<!--&lt;!&ndash;<tr>&ndash;&gt;-->
      <!--&lt;!&ndash;<td><div align="center"><a href="change password nurse.html">change password</a></div></td>&ndash;&gt;-->
    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
	<!---->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/">logout</a></div></td>-->
    <!--</tr>-->
   <!--&lt;!&ndash;tr>-->
      <!--<td><div align="center"><a href="index.php">back to login page</a></div></td>-->
    <!--</tr&ndash;&gt;-->
  <!--</table>-->
  <!--</form>-->
</body>
{% endblock %}
