
{% extends 'indexadmin.html' %}
{% block body %}


<body><head><style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*#customers tr:nth-child(even){background-color: #00ccff;}*/

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:#00ccff;
  color: white;
}
</style></head>

<form id="form1" name="form1" method="post" action="/insertregnurse">
  <table id="customers" class="table"  width="245" border="1" bgcolor="#f0f5f5">
     <tr>
      <td width="172">First Name </td>
      <td><label>
        <input type="text"  required="" name="txtfname" />
      </label></td>
    <tr>
      <td>Last Name </td>
      <td><label>
        <input type="text" required="" name="txtlname" />
      </label></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><label>
        <input name="radiobutton" type="radio" value="male"  />
      male 
      <input name="radiobutton" type="radio" value="female" />
      female 
      <input name="radiobutton" type="radio" value="others" />
      others</label></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><label>
        <input type="date" required="" name="txtdob"  />
      </label></td>
    </tr>
    <tr>
      <td>Phone Number </td>
      <td><label>
        <input type="text"  required="" name="txtphno" pattern="[6-9]{1}[0-9]{9}" maxlength="10"/>
      </label></td>
    </tr>
    <tr>
      <td>Email id: </td>
      <td><label>
        <input type="text" name="textfield21" />
      </label></td>
    </tr>
    <tr>
      <td>Place </td>
      <td><label>
        <input type="text"  required="" name="txtplace"/>
      </label></td>
    </tr>
    <tr>
      <td>Post Office</td>
      <td><label>
        <input type="text"  required="" name="txtPO"/>
      </label></td>
    </tr>
    <tr>
      <td>Pin Code</td>
      <td><label>
        <input type="text"  required="" name="txtpin" />
      </label></td>
    </tr>
    <tr>
      <td>Department</td>
      <td><label>
        <input type="text" required="" name="txtdept" />
      </label></td>
    </tr>
    <tr>
      <td>UserName:</td>
      <td><label>
        <input type="text" required="" name="textfield19" class="form-control"/>
      </label></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><label>
        <input type="password"  name="textfield10" class="form-control"/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
      <div align="center">
        <input type="submit" name="Submit" value="Add" />&nbsp;
      </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
